@import './../../scss/exports.scss';
:host {
    width: 100%;
    padding: 0 5px 0 5px;
}

.sorter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    border: none;
    position: relative;
    padding: 0 1.125rem;
    div {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #fff;
        line-height: 257%;
        border-bottom: 1px solid $gold; // background-color: red;
        z-index: 1;
        padding: 0.1875rem;

        li{
           // border-bottom: 1px solid $gold;
           font-weight: 200;
        }
    }
}

.priceList {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: tomato
}

select {
    -webkit-appearance: none;
    outline: none;
    border: 0;
}

.expanded {
    height: 200px;
}

.up {
    transform: rotate(0.5turn);
}

.down {
    transform: none;
}

.hidden {
    display: none
}

.collapsed {
    height: 0;
}

.expanded {
    height: auto;
}

.show {
  ////  display: block;
  //  height: auto;
}