:host {
  width: 100%;
  padding: 0 5px 0 5px; }

.sorter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; }
  .sorter option {
    cursor: pointer; }

select {
  -webkit-appearance: none;
  outline: none;
  border: 0; }

.expanded {
  height: 200px; }

.upsideDown {
  transform: rotate(0.5turn); }
