@import '../../scss/exports.scss';
.salons-page {
    .salons {
        @include md {
            width: 80%;
            margin: 0 auto;
        }
        @include lg {
            width: 55%;
        }
    }
    header {
        .block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $gold;
            &:nth-child(1) {
                padding: 0 1.125rem;
                height: 7.559055118vh;
            }
            &:nth-child(2) {
                height: 7.559055118vh;
            }

            h2{
                font-size: 1.375rem;
            }
        }
    }
    article {
        display: flex;
        width: 100%;
        border-bottom: 1px solid $theme-color-lightgrey;
        padding: 0 1.125rem 0 1.125rem;
        &:hover {
            background: lighten($gold, 50%);
        }
        &:active {
            background: lighten($gold, 50%);
        }
        @include landscape {
            height: auto;
        }
        .left {
            width: 18.41620626vw;
            p {
                color: $theme-color-black;
                font-size: 0.9375rem;
                font-weight: normal;
            }
        }
        .center {
            width: 57.5%;
            width: 56.72191529vw;
            h3 {
//                 -webkit-transform: translate3d(0,0,0) !important;
// transform: translate3d(0,0,0) !important;
                font-size: 1.25rem;
                margin-bottom: 3.149606299%;
                margin-top: 6.149606299%;
                @include md {
                    margin-top: 3%;
                }
            }
        }
        .right {
            width: 20vw;
            div {
                &:nth-child(1) {
                    width: 100%;
                }
                h5 {
                    margin-top: 0;
                    margin-left: 2vw;
                    color: $theme-color-grey;
                    @include lg {
                        margin-left: 1vw;
                    }
                }
                p {
                    margin-bottom: 0.5rem;
                    color: $theme-color-black;
                }
            }
        }
        .forward-button {
            display: flex;
            align-items: center;
        }
        .rating {
            display: flex;
            align-items: center;
            p {
                color: $theme-color-grey;
                display: inline;
                letter-spacing: -0.004375rem;
            }
            h4 {
                color: $theme-color-grey;
            }
            .stars {
                width: 15vw;
                @include lg {
                    width: 6vw;
                }
                img {
                    max-width: 2.5vw;
                }
            }
            span {
                &:nth-child(2) {
                    display: inline-flex;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                    align-items: baseline;
                    margin-left: 2.944640754%;
                }
            }
        }
    }
}