@import './scss/exports.scss';
@font-face {
    font-family: "Font Bureau";
    src: url("/fonts/FontBureau.otf") format("opentype")
}

@font-face {
    font-family: "Helvetic Neue Light";
    src: url("/fonts/HelveticaNeueLight.ttf") format("truetype")
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

html,
body {
    font-size: $theme-base-font-size;
    background-color: $theme-color-white;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Helvetic Neue Light', sans-serif;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.serif {
    font-family: 'Font Bureau';
    font-weight: 300;
    -webkit-text-stroke: 0.10px;
}

.small-text {
    font-size: 0.6875rem;
}

.grey-text {
    color: $theme-color-grey;
}

h3,
h4,
h5 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0.5rem
}

h4 {
    font-weight: 400;
    color: $theme-color-grey;
    display: inline-block;
    margin-bottom: 0.5rem
}

h5 {
    font-weight: 400;
    color: $theme-color-grey;
    display: inline-block;
    margin-bottom: 0.5rem
}

.active {
    border-bottom: 1px solid $brand-color-gold;
}

ul {
        padding: 0;
        margin: 0;
        list-style: none;
}

a {
    text-decoration: none;
    color: $theme-color-black;
}