@import './scss/exports.scss';
@font-face {
    font-family: "Font Bureau";
    src: url("/fonts/FontBureau.otf") format("opentype")
}

@font-face {
    font-family: "Helvetic Neue Light";
    src: url("/fonts/HelveticaNeueLight.ttf") format("truetype")
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

html,
body {
    font-size: $base-font-size;
    background-color: $bright-background;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
     font-family: 'Helvetic Neue Light', sans-serif;
    min-height: 100vh; // font-family: Arial, Helvetica, sans-serif;
   	-webkit-font-smoothing: antialiased !important;

}

.serif {
    font-family: 'Font Bureau';
    font-weight: 300;
}

.small-text {
    font-size: 0.6875rem;
}

.grey-text {
    color: $grey-light-text;
}

h3,
h4,
h5 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

h3 {
    font-family: Arial, Helvetica, sans-serif; // color: $bright-heading-text;
    margin-bottom: 0.5rem
}

h4 {
    font-weight: 400;
    color: $grey-light-text;
    display: inline-block;
    margin-bottom: 0.5rem
}

h5 {
    font-weight: 400;
    color: $grey-light-text;
    display: inline-block;
    margin-bottom: 0.5rem
}

.active {
    border-bottom: 1px solid $gold;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: $dark-heading-text;
}