//Brakepoints
$xss: 330px;
$xs: 480px;
$sm: 644px;
$md: 768px;
$lg: 960px;
$xl: 1200px;
$xxl: 1400px;
@mixin xxs {
    @media only screen and (min-width: $xss) {
        @content;
    }
}

@mixin xs {
    @media only screen and (min-width: $xs) {
        @content;
    }
}

@mixin sm {
    @media only screen and (min-width: $sm) {
        @content;
    }
}

@mixin md {
    @media only screen and (min-width: $md) {
        @content;
    }
}

@mixin lg {
    @media only screen and (min-width: $lg) {
        @content;
    }
}

@mixin xl {
    @media only screen and (min-width: $xl) {
        @content;
    }
}

@mixin xxl {
    @media only screen and (min-width: $xxl) {
        @content;
    }
}

@mixin small-height {
    @media only screen and (max-height: $xxl) {
        @content;
    }
}

@mixin md-max {
    @media only screen and (max-width: $md) {
        @content;
    }
}