$gold:#b69f58;
$bright-heading-text:#D8D8D8;
$dark-heading-text:#202020;
$bright-background:#FFF;
$middle-background:#F9F9F9;
$bright-border:#EEEEEE;
$grey-light-text:#656565;
$grey-medium-text:#666666;
$temporary-grey:lighten(grey, 50%);
$base-font-size:100%;