
//
// Brand specific variables
//

// Brand: Colors
$brand-color-gold: #b69f58;

//
//  Theme specific variables
//

// Theme: Colors
$theme-color-lightgrey: #eee;
$theme-color-grey: #666;
$theme-color-darkgrey: #D8D8D8;
$theme-color-black: #202020;
$theme-color-eggwhite: #f9f9f9;
$theme-color-white: #fff;

// Theme: Fonts
$theme-base-font-size: 100%;
