@import './../../scss/exports.scss';
.salonsPage {
    ul,
    {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    p {
        font-weight: 200;
    }
    a {
        text-decoration: none;
        color: initial;
    }
    .salons {
        @include sm {
            width: 70%;
            margin: 0 auto;
        }
    }
    header {
        .block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $gold;
            &:nth-child(1) {
                padding: 0 1.125rem;
            }
            &:nth-child(2) {
                height: 60px;
            }
            h2 {
                font-weight: 100;
            }
        }
    }
    article {
        display: table;
        height: 105px;
        width: 100%;
        border-bottom: 1px solid $bright-border;
        padding: 0 1.125rem 0 1.125rem;
        cursor: pointer;
        &:hover {
            background: lighten($gold, 50%);
        }
        &:active {
            background: lighten($gold, 50%);
        }
        div {
            display: table-cell;
        }
        .left {
            width: 18%; // background-color: hsla(108, 84%, 50%, 0.2);
            h4 {
                color: $grey-medium-text;
                font-size: 0.94rem;
            }
        }
        .center {
            //  background-color: hsla(317, 84%, 50%, 0.2);
            width: 57.5%; // height: 92px;
            h4 {
                color: $grey-medium-text;
            }
        }
        .right {
            // background-color: hsla(200, 84%, 50%, 0.2);
            width: 20%; //height: 92px;
            div {
                &:nth-child(1) {
                    width: 100%; //  padding-right: 0.75rem;
                }
                h5 {
                    margin-top: 0;
                    margin-left: 6px;
                    color: $grey-medium-text;
                }
                p {
                    margin-bottom: 0.5rem;
                    color: $dark-heading-text;
                }
            }
        }
        .rating {
            display: flex;
            align-items: center;
            max-width: 45%;
            p {
                color: $grey-light-text;
                display: inline;
            }
        }
        .forward-button {
            position: relative;
            height: 100%;
            img {
                @include cy;
                right: 0;
            }
        }
    }
}