ul {
  padding: 0;
  margin: 0;
  list-style: none; }

p {
  font-weight: 100; }

a {
  text-decoration: none;
  color: initial; }

@media only screen and (min-width: 644px) {
  .salons {
    width: 70%;
    margin: 0 auto; } }

header .block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px 0 5px;
  border-bottom: 1px solid #b69f58; }
  header .block:nth-child(2) {
    height: 60px; }
  header .block h2 {
    font-weight: 100; }

article {
  display: table;
  width: 100%;
  border-bottom: 1px solid #EEEEEE;
  cursor: pointer; }
  article:hover {
    background: white; }
  article:active {
    background: white; }
  article div {
    display: table-cell;
    height: 100%; }
  article .left {
    width: 18%;
    padding-left: 0.25rem; }
  article .center {
    width: 57.5%; }
  article .right {
    width: 20%; }
    article .right div:nth-child(1) {
      width: 100%;
      padding-right: 0.75rem; }
    article .right div h5 {
      margin-top: 0;
      margin-left: 6px; }
    article .right div p {
      margin-bottom: 0.5rem; }
  article .rating p {
    color: #656565; }
  article .forward-button {
    position: relative;
    height: 100%; }
    article .forward-button img {
      position: absolute;
      top: 50%;
      transform: translate(0%, -50%); }
