@import './../../scss/exports.scss';
ul,
{
    padding: 0;
    margin: 0;
    list-style: none;
}

p {
    font-weight: 100;
}

a {
    text-decoration: none;
    color: initial;
}

.salons {
    @include sm {
        width: 70%;
        margin: 0 auto;
    }
}

header {
    .block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $gold;
        &:nth-child(1) {
            padding: 0 5px 0 5px;
        }
        &:nth-child(2) {
            height: 60px;
        }
        h2 {
            font-weight: 100;
        }
    }
}

article {
    display: table;
    width: 100%;
    border-bottom: 1px solid $bright-border;
    cursor: pointer;
    &:hover {
        background: lighten($gold, 50%);
    }
    &:active {
        background: lighten($gold, 50%);
    }
    div {
        display: table-cell;
        height: 100%;
    }
    .left {
        // background-color: red;
        width: 18%;
        padding-left: 0.25rem;
    }
    .center {
        // background-color: blue;
        width: 57.5%;
    }
    .right {
        // background-color: lightgreen;
        width: 20%;
        div {
            &:nth-child(1) {
                width: 100%;
                padding-right: 0.75rem;
            }
            h5 {
                margin-top: 0;
                margin-left: 6px;
            }
            p {
                margin-bottom: 0.5rem;
            }
        }
    }
    .rating {
        //   background-color: green;
        p {
            color: $grey-light-text;
        }
    }
    .forward-button {
        position: relative;
        height: 100%;
        img {
            @include cy;
        }
    }
}