@import './../../scss/exports.scss';
.salons-page {
    ul,
    {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    p {
        font-weight: 300;
    }
    a {
        text-decoration: none; // color: initial;
    }
    .salons {
        @include md {
            width: 80%;
            margin: 0 auto;
        }
        @include lg {
            width: 55%;
        }
    }
    header {
        // height: 15.11811024vh;
        .block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $gold;
            &:nth-child(1) {
                padding: 0 1.125rem;
                height: 7.559055118vh;
            }
            &:nth-child(2) {
                height: 7.559055118vh;
            }
            h2 {
                font-weight: 100;
            }
        }
    }
    article {
        display: flex;
        height: 16.44518272vh;
        height: 18vh;
        width: 100%;
        border-bottom: 1px solid $bright-border;
        padding: 0 1.125rem 0 1.125rem;
        cursor: pointer;
        &:hover {
            background: lighten($gold, 50%);
        }
        &:active {
            background: lighten($gold, 50%);
        }
        .left {
            width: 18.41620626vw; //  background-color: hsla(108, 84%, 50%, 0.2);
            h4 {
                color: $grey-medium-text;
                font-size: 0.94rem;
            }
        }
        .center {
            //   background-color: hsla(317, 84%, 50%, 0.2);
            width: 57.5%;
            width: 56.72191529vw;
            h3 {
                //  color: $grey-medium-text;?????????????????????????????? ??
                margin-bottom: 3.149606299%;
            }
        }
        .right {
            //    background-color: hsla(200, 84%, 50%, 0.2);
            width: 20vw;
            div {
                &:nth-child(1) {
                    width: 100%; //  padding-right: 0.75rem;
                }
                h5 {
                    margin-top: 0;
                    margin-left: 2vw;
                    color: $grey-medium-text;
                    @include lg {
                        margin-left: 1vw;
                    }
                }
                p {
                    margin-bottom: 0.5rem;
                    color: $dark-heading-text;
                }
            }
        }
        .forward-button {
            display: flex;
            align-items: center;
        }
        .rating {
            display: flex;
            align-items: center; // max-width: 45%;
            p {
                color: $grey-light-text;
                display: inline;
            }
            .stars {
                width: 15vw;
                @include lg {
                    width: 6vw;
                }
                img {
                    max-width: 2.5vw;
                }
            }
            span {
                &:nth-child(2) {
                    display: inline-flex;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                    align-items: baseline;
                    margin-left: 2.944640754%;
                }
            }
        }
    }
}